version: "3.9"

services:
  frontend:
    build: ./frontend
    restart: always
    env_file: .env
    expose:
      - "3000"

  backend:
    build: ./backend
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
    expose:
      - "8000"

  db:
    image: postgres:16-alpine
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always

  proxy:
    image: linuxserver/letsencrypt
    container_name: nginx
    restart: always
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx_config:/config
      - ./nginx/site-confs:/config/nginx/site-confs   # <-- custom site config
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
  nginx_config:
