services:
  frontend:
    build: ./frontend
    restart: always
    env_file: .env
    expose:
      - "3000"

  backend:
    build: ./backend
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
    expose:
      - "8000"

  celery_worker:
    build: ./backend
    command: celery -A yourproject worker --loglevel=info
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      - redis
      - db
    restart: always

  celery_beat:
    build: ./backend
    command: celery -A yourproject beat --loglevel=info
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      - redis
      - db
    restart: always

  db:
    image: postgres:16-alpine
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always

  proxy:
    image: linuxserver/swag
    container_name: nginx
    restart: always
    platform: linux/amd64
    env_file: .env
    environment:
      - SWAG_AUTORELOAD=false
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx_config:/config
      - ./nginx/site-confs:/config/nginx/site-confs
      - ./nginx/swag-conf/nginx/ssl.conf:/config/nginx/ssl.conf
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
  nginx_config:
